{% extends "./base.html"%}
{% load static%}

<title>{% block title %} Gatos {% endblock %}</title>

{% block body%}
    
{% load crispy_forms_tags %}
<div class="row">
    <div class="col-12 col-md-6 offset-md-3 py-4">
        <div class="card">
            <div class="card-body" >
                <h1>Donacion</h1>
            
                <hr>

                <div class="d-flex justify-content-center">   

                <form action="" method="POST" enctype="multipart/form-data"> 
                    {% csrf_token %}
                    {{form | crispy }}
                    <div class="d-flex justify-content-right">
                    <button type="submit" class="btn btn-danger btn-block text-white py-0 " id="guardar">Aceptar</button>
                    &nbsp;
                    <button type="reset" class="btn btn-primary btn-block text-white" id="limpiar">Actualizar</button>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {% if messages %}
      {% for m in messages %}
        <script>
          Swal.fire({
            "title": "Felicidades!",
            "text": "{{m}}",
            "icon": "success",

          })
        </script>
      {% endfor %}
  {% endif %}

    {% endblock %}





