{% extends "./base.html"%}
{% load static%}

<title>{% block title %} Donacion {% endblock %}</title>

{% block css %}
<link rel="stylesheet" href="{% static 'core/css/estilos.css' %}">
{% endblock %}


{% block body%}
<body>

       
  {% load crispy_forms_tags %}
  <div class="container">
              <div class="card">
                  <div class="card-body" >
                      <h2>Lista Donantes </h2>
                          <div>
                              <a href="{% url 'agregardonacion'%}">Agregar Donacion</a>
                          </div>       
                      <hr>
                      <div class="table-responsive">
                          <table class="table table-striped table-hover ">
                              <thread class="table-dark">
                                  <tr>                
                                      <th>Nombre Completo</th>
                                      <th>Correo</th>
                                      <th>Telefono</th>
                                      <th>Valor</th>
                                      <th colspan="2">Opciones</th>
                                  </tr>
                              </thread>
                          <tbody>
                              {% for d in donacion%}
                              <tr>
                              <td>{{d.nombrecompleto }} </td>
                              <td>{{d.correo }} </td>
                              <td>{{d.telefono }} </td>
                              <td>{{d.valor }} </td>
                              <td> <a href="#" class="btn btn-info">Editar</td>
                              <td> <a href="#" class="btn btn-danger">Eliminar</td>
                              </tr>
                              {%endfor%}
                          </tbody>
                          </table>
                          <hr>
                          
                          <div>
                              {% include 'core/paginator.html' %}
                          </div>
  
                      </div>
              </div>
          </div>
      </div>
  

</body>
</header>
</html>
{% endblock %}